<!DOCTYPE html>
<html lang="es" ng-app="ConversorMoneda">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PEC01_P7 - Conversor de moneda</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

</head>
<body ng-controller="MainController as ctrl">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>Conversor de Monedas</h3>
                <div class="form-group">
                    <label for="numero">Introduce la cantidad a convertir: </label>
                    <input type="text" id="numero" class="form-control" value="" ng-model="ctrl.numero" ng-change="ctrl.convertirMoneda()">
                </div>
                <div class="form-group">
                    <label for="origen">Moneda origen</label>
                    <select class="form-control" id="origen" ng-model="ctrl.origen" ng-change="ctrl.convertirMoneda()">
                        <option ng-repeat="moneda in ctrl.monedas" value="{{moneda.id}}">{{moneda.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="destino">Moneda destino</label>
                    <select class="form-control" id="destino" ng-model="ctrl.destino" ng-change="ctrl.convertirMoneda()">
                        <option ng-repeat="moneda in ctrl.monedas" value="{{moneda.id}}">{{moneda.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="resultado">Resultado: </label>
                    <input type="text" id="resultado" class="form-control" value="" ng-model="ctrl.resultado">
                </div>
            </div>
        </div>

    </div>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="js/all.min.js"></script>
</body>
</html>